/*
* @Author: admin
* @Date:   2018-06-13 09:54:34
* @Last Modified by:   admin
* @Last Modified time: 2018-06-13 10:07:25
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
div{
	width: 100%;
	height: 1000px;
	background: skyblue;
}
img{
	position: fixed;
	width: 70px;
}